{% extends "base.html" %}

{% block title %}Asset: {{ this_photo }}
{% endblock title %}

{% block css %}
  <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link href='/static/css/home.css' rel='stylesheet' type='text/css'>
{% endblock css %}

{% block content %}

<h2>Welcome to Margins</h2>

<table class="table table-striped table-hover table-condensed">
	<thead>
		<tr>
			<th>Body</th>
			<th>Date</th>
			<th>Filename</th>
			<th>Size</th>
		</tr>
	</thead>

	<tbody>
	{% for this_document in documents %}
		<tr>
			<td><a href="{{ this_document.meeting.body.get_absolute_url }}">{{ this_document.meeting.body }}</a></td>
			<td>{{ this_document.meeting.time }}</td>
			<td><a href="{{ this_document.get_absolute_url }}">{{ this_document }}</a></td>
			<td>{% if this_document.original %}{{ this_document.original.size | filesizeformat }}{% endif %}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock content %}

{% block js %}
<script src="/static/js/home.js"></script>
{% endblock js %}